* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
}

#main_logo {
    width: 180px;
}

header a {
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px 60px;
    text-transform: uppercase;
    color: white;
}

/* main */
main {
    display: flex; 
}

/* main sezione di sinistra */
.section_left {
    height: calc(100vh - 90px);
    position: fixed;
    z-index: 2;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    padding: 0 20px;
    background-color: black;
    color: #717171;
}

.top_section_left a {
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    text-decoration: none;
    color: #717171;
}

.section_left i {
    padding-right: 10px;
}

.fa-home {
    padding-top: 100px;
}

.section_left h3 {
    margin: 40px 0 10px;
}
.playlist_list a {
    font-size: 15px;
    text-decoration: none;
    color: #717171;
}
.playlist_list span {
    font-size: 18px;
    vertical-align: top;
}
.playlist_list li {
    padding-bottom: 10px;
}

.playlist_list div {
    line-height: 45px;
}
.playlist_list i.fa-plus-square {
    font-size: 45px;
}

.bottom_section_left {
    line-height: 40px;
}

.bottom_section_left hr {
    margin: 5px 0 15px;
}

#profile_logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #808080;
}

.bottom_section_left span {
    vertical-align: top;
}

/* sezione a destra */

.section_right {
    height: calc(100vh - 90px);
    width: 100%;
    margin-left: 320px;
    padding: 110px 20px 0;
    overflow-y: scroll;
    background-color: #141922;
    color: white;
}

.section_right h2 {
    margin: 20px 0 10px;
}

.top_list {
    /* display: flex;
    justify-content: center; */
    width: 100%;
    text-align: center;
}
.top_list li {
    display: inline;
}
.top_list a {
    padding: 10px ;
    text-transform: uppercase;
    color: #717171;
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container_album {
    width: 200px;
    height: 100%;
    margin: 20px;
    text-align: center;
}
.container_album img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery p {
    color: #717171;
}

.gallery_create {
    justify-content: flex-start;
}

.round_image {
    border-radius: 50%;
}

/* footer */

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 20px;
    background-color: #282828;
    color: white;
}
#album_footer {
    width: 50px;
}

.left_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_footer_item {
    margin: 10px;
}

.left_footer a {
    color: #808080;
    padding: 5px;
}

.left_footer_item p:nth-child(2) {
    color: #808080;
}