* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: aqua; */
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    background-color: rgba(0,0,0, 0.4);
}

#main_logo {
    width: 180px;
}

header a {
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

/* main */
main {
    display: flex;
    padding: 0 20px;
    height: 800px;
    background-color: rgba(20, 25, 34, 1); 
}

/* main sezione di sinistra */
.section_left {
    /* height: 300px; */
    flex-shrink: 0;
    width: 320px;
    background-color:lightcoral;
    color: #717171;
}

.section_right {
    height: 300px;
    background-color: pink;
}

.top_section_left a {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: none;
    color: #717171;
}

.section_left i {
    padding-right: 10px;
}

.fa-home {
    padding-top: 100px;
}

.playlist_list a {
    text-decoration: none;
}




